sneakypoints.com {
    encode gzip zstd

    @admin path /admin /admin/* /api/admin/*
    basicauth @admin {
        david $2a$14$vkQtJbp5G0/mcBzV8TYteOtnAMFisDOcttjVAoHRbjXRPmSYBvfee
    }

    @api path /api/* /media/*
    handle @api {
        reverse_proxy backend:3001
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}

www.sneakypoints.com {
    redir https://sneakypoints.com{uri} permanent
}
